/*header*/
/*navbar*/
.navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    margin: 0rem 4rem;
    z-index: 1;
}
.enlaces{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.enlaces a:not(.botonLink){
    margin: 1rem;
    text-decoration: none;
    font-size: large;
    color: var(--fondo);
    font-weight: 700;

}
#check{
    display: none;
}
.checkbtn{
    display: none;
}
.logo{
    width: 6rem;
    border-radius: 50%;
    box-shadow: 0px 3px 25px -4px var(--fondo);
}
@media (max-width: 768px) {
    .checkbtn{
        display: block;
        z-index: 10;
        color: white;
        font-size: 2rem;
    }
    .enlaces{
        display: block;
        background: linear-gradient(to top , rgb(9, 1, 77) ,
            rgb(158, 148, 224));
        color: white;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        text-align: center;
        border-radius: 0 0 40px 0;
        transition: all .5s;
    }
    .enlaces a{
        display: block;
        margin: 80px 0;
        line-height: 50px;
        color: white;
    }
    .boton{
        background-color: var(--secundario);
        color: var(--fondo);
    }
    .boton:hover{
        background-color: var(--blanco);
        color: var(--oscuro);
    }
    #check:checked ~ .enlaces{
        left: 0;
    }
}
/* portada */
.contenedor-header{

    height: 100vh;
    background-image: url("/img/portada2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contenedor-form{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.bodyForm{
    background-color: #081b29d8;
    color: var(--blanco);
    text-align: center;
    width: 50%;
    border-radius: 1rem;
}
.bodyForm h1{
    font-weight: 700;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--blanco);
    border-radius: 1rem;
}
.formLogin{
    width: 80%;
}
/*footer*/
.social {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    margin-right: 60px;
    padding: 50px;
}
.container-footer {
    font-size: 2rem;
    background-color: black;
    color: bisque;
    padding: 40px;
}
