<nav class="navegacion" xmlns:th="http://www.thymeleaf.org">
    <!-- Hamburguesa -->
    <input type="checkbox" id="check"/>
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>

    <!-- Logo -->
    <a href="#" class="enlace">
        <img src="/logo2.png" alt="" class="logo"/>
    </a>

    <!--Enlaces y botones del nav-->
    <div class="enlaces">
        <input type="checkbox" id="check"/>
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>

        <!-- <a href="form_login.html" class="botonLink">Inicia Sesión</a> -->
        <a th:href="@{/registrar}" class="botonLink">Registrate</a>
    </div>
</nav>
