@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@500&family=Open+Sans:ital,wght@1,300&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,200&family=Shadows+Into+Light&family=Vina+Sans&display=swap");
/* HEADER */
::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(129, 221, 228, 0.734);
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: #4a7da1;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--fondo);
}
/*Barra de navegación*/
.navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  margin: 0rem 4rem;
  z-index: 1;
}

.enlaces {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.enlaces a:not(.botonLink):not(.dropdown-item) {
  margin: 1rem;
  text-decoration: none;
  font-size: large;
  color: white;
  font-weight: 700;
}
.dropdown-menu{
    background-color: var(--fondo);
}

#check {
  display: none;
}
.checkbtn {
  display: none;
}
.logo {
  width: 6rem;
  border-radius: 50%;
  box-shadow: 0px 3px 25px -4px var(--fondo);
}
/* .botonLink:hover {
  background-color: var(--terciario);
  color: var(--fondo);
  border: 2px solid var(--oscuro);
  border-radius: 10px 30px;
} */
@media (max-width: 768px) {
  .checkbtn {
    display: block;
    color: white;
    font-size: 2rem;
  }
  
  .enlaces {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #081b29;
    color: white;
    position: fixed;
    width: 90%;
    height: 100vh;
    top: 0;
    left: -100%;
    border-radius: 0 0 1rem 0;
    transition: all 0.5s;
    z-index: 2;
  }
  
  .enlaces a {
    display: block;
    margin: 80px 0;
    line-height: 50px;
    color: white;
  }
  .botonLink {
    display: flex;
    justify-content: center;
    background-color: var(--terciario);
    color: var(--fondo);
    width: 80%;
    
  }
  .botonLink:hover {
    background-color: var(--blanco);
    color: var(--oscuro);
  }
  #check:checked ~ .enlaces {
    left: 0;
  }
   
}
/* portada */
.contenedor-portada{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-portada h1{
    font-weight: 800;
    margin-top: 12rem;
}
.contenedor-header {
  height: 100%;
  background-image: url("/img/fondo_negro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contenedor-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: auto;
}
.bodyForm {
  background-color: #081c2bd8;
  color: var(--blanco);
  text-align: center;
  width: 90%;
  border-radius: 1rem;
}
/*seccion*/

.contenedor-tabla {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: var(--blanco);
    margin-top: 5rem;
}
.contenedor-tabla li{
    list-style: none;
}
.tabla {
  margin: 70px auto 50px auto;
  border-collapse: collapse;
  box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}
th,
td {
  border: 2px double black;
  padding: 10px 20px;
}
th {
  background: black;
  color: rgb(96, 136, 128);
  font-size: 1rem;
  border: 2px double gray;
}
td {
  background: rgb(96, 136, 128);
  color: rgb(9, 65, 67);
}
td a {
  font-size: 13px;
  cursor: pointer;
}

a.modificar {
  outline: none;
  text-decoration: none;
  color: green;
}
a.modificar:hover,
a.eliminar:hover {
  filter: brightness(1.5);
  color: black;
}
a.eliminar {
  outline: none;
  text-decoration: none;
  color: red;
}
.btn-volver {
  text-align: center;
  padding: 4px 20px;
}

.btn-volver a {
  width: 60%;
  padding: 3px 40px;
  border-radius: 20px;
  background-color: rgb(14, 90, 85);
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn-volver a:hover {
  background: rgb(96, 136, 128);
}
/*footer*/
.social {
  bottom: 0;
  right: 0;
  font-size: 2rem;
  
  padding: 30px;
}
.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--fondo);
  color: bisque;
  padding: 20px;
}