<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"></head>

    <body>
        <header class="contenedor-header-formulario">
            <nav th:replace = "/fragments/navbar :: nav"></nav>
            <div th:replace = "/fragments/modelo :: div"></div>

            <div class="container mt-5 ">
                <div class="row justify-content-center">
                    <div class="col-md-8 bodyForm-registrar">

                        <h1 sec:authorize = "hasAnyRole('ADMIN','AGENTE')">Agregar Participantes</h1>
                        <section > 
                            <h1>Lista participantes</h1>
                            <div class="text-center">
                                <div class="participantes">
                                    <ul th:each="usuarioLista : ${listaActual}" class="list-group">
                                        <li  style="list-style: none">
                                            <div class="d-flex">
                                                <span th:text="${usuarioLista.nombre + ' ' + usuarioLista.apellido + ' (' + usuarioLista.email + ')' + ' (' + usuarioLista.rol + ')'}" class="list-item" ></span>
                                                <form th:action="@{/proyecto/eliminar-participante}" method="post" class="d-inline" sec:authorize = "hasAnyRole('ADMIN','AGENTE')">     
                                                    <div class="c-btn">
                                                        <button type="submit" class="btn text-danger">
                                                            <!-- Puedes usar cualquier ícono de eliminación aquí -->
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>    
                                                    <input type="hidden" name="proyectoId" th:value="${proyecto.id}" />
                                                    <input type="hidden" name="usuarioId" th:value="${usuarioLista.id}" />
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section class="form-group"> 
                            <form th:action="@{/proyecto/participantes}" method="post" sec:authorize = "hasAnyRole('ADMIN','AGENTE')">
                                <input type="hidden" name="proyectoId" th:value="${proyecto.id}">
                                <select name="usuarioId" class="form-select">
                                    <option th:each="elegido : ${participantes}"
                                            th:if="${elegido.rol.toString() == 'AGENTE'}"
                                            th:value="${elegido.id}">
                                    <span class="class" th:text="${elegido.nombre +' '+ elegido.apellido}">Agentes</span>
                                    </option>
                                </select>                  
                                <div class="container-btn">
                                    <div class="row mb-3">

                                        <button type="submit" class="btn btn-primary" style="margin: 1rem">
                                            Guardar Agente
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form th:action="@{/proyecto/participantes}" method="post" sec:authorize = "hasAnyRole('ADMIN','AGENTE')">
                                <input type="hidden" name="proyectoId" th:value="${proyecto.id}">
                                <select name="usuarioId" class="form-select">
                                    <option th:each="elegido : ${participantes}"
                                            th:if="${elegido.rol.toString() == 'CLIENTE'}"
                                            th:value="${elegido.id}">
                                    <span class="class" th:text="${elegido.nombre +' '+ elegido.apellido}">Clientes</span>
                                    </option>
                                </select>                  
                                <div class="container-btn">
                                    <div class="row mb-3">

                                        <button type="submit" class="btn btn-primary" style="margin: 1rem">
                                            Guardar Integrante
                                        </button>
                                    </div>                               
                                </div>
                            </form>
                        </section>
                        <div class='row' sec:authorize="hasAnyRole('ADMIN')" >
                            <a href="/proyecto/lista" class="btn btn-secondary" style="margin: 1rem">Volver</a>
                        </div>
                        <div class='row' sec:authorize="hasAnyRole('CLIENTE', 'AGENTE')">
                            <a th:href="@{/proyecto/listaProyectos/__${session.usuariosession.id}__}" class="btn btn-secondary" style="margin: 1rem">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <footer th:replace = "/fragments/footer :: footer"></footer>

    </body>
</html>
