<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"></head>

    <body>
        <header class="contenedor-header-formulario">
            <nav th:replace = "/fragments/navbar2 :: nav"></nav>
            <div th:replace = "/fragments/modelo :: div"></div>

            <div class="container mt-5 ">
                <div class="row justify-content-center">
                    <div class="col-md-8 bodyForm-registrar">

                        <h1 sec:authorize = "hasAnyRole('ADMIN','AGENTE')">Agregar Participantes</h1>
                        <section > 
                            <h1 style="padding: 1rem 0">Lista participantes</h1>
                            <div class="text-center">
                                <div class="participantes">
                                    <ul th:each="usuarioLista : ${listaActual}" class="list-group">
                                        <li  style="list-style: none">
                                            <div class="d-flex">
                                                <span th:text="${usuarioLista.nombre + ' ' + usuarioLista.apellido + ' (' + usuarioLista.email + ')' + ' (' + usuarioLista.rol + ')'}" class="list-item" ></span>
                                                <form th:action="@{/proyecto/eliminar-participante}" method="post" class="d-inline" sec:authorize = "hasAnyRole('ADMIN','AGENTE')">     
                                                    <div class="c-btn">
                                                        <button type="submit" class="btn text-danger">
                                                            <!-- Puedes usar cualquier ícono de eliminación aquí -->
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>    
                                                    <input type="hidden" name="proyectoId" th:value="${proyecto.id}" />
                                                    <input type="hidden" name="usuarioId" th:value="${usuarioLista.id}" />
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <form th:action="@{/proyecto/participantes}" method="post" sec:authorize = "hasAnyRole('ADMIN','AGENTE')">
                            <input type="hidden" name="proyectoId" th:value="${proyecto.id}">
                            <label for="agentes" class="partTitulo">Seleccionar Agente :</label>
                            <select  class="part" id="agentes" name="usuarioId">
                                <option class="part" th:each="elegido : ${participantes}"
                                        th:if="${elegido.rol.toString() == 'AGENTE'}"
                                        th:value="${elegido.id}">
                                <span class="part" th:text="${elegido.nombre +' '+ elegido.apellido}">Agentes</span>
                                </option>
                            </select>                  
                            <div class="container-btn">
                                <div class="row mb-3">

                                        <button type="submit" class="btn btn-primary" style="margin: 1rem">
                                            Guardar Agente
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </form>
                        <form th:action="@{/proyecto/participantes}" method="post" sec:authorize = "hasAnyRole('ADMIN','AGENTE')">
                            <input type="hidden" name="proyectoId" th:value="${proyecto.id}">
                           <label for="clientes" class="partTitulo">Seleccionar Cliente:</label>
                            <select  class="part" id="clientes" name="usuarioId">
                                <option class="part" th:each="elegido : ${participantes}"
                                        th:if="${elegido.rol.toString() == 'CLIENTE'}"
                                        th:value="${elegido.id}">
                                <span class="part" th:text="${elegido.nombre +' '+ elegido.apellido}">Clientes</span>
                                </option>
                            </select>                  
                            <div class="container-btn">
                                <div class="row mb-3">

                                    <button type="submit" class="btn btn-primary">
                                        Guardar Cliente
                                    </button>
                                </div>                               
                            </div>
                        </form>
                        <div class='row' sec:authorize="hasAnyRole('ADMIN')" >
                            <a href="/proyecto/lista" class="btn btn-secondary" style="width: 30%">Volver</a>
                        </div>
                        <div class='row' sec:authorize="hasAnyRole('CLIENTE', 'AGENTE')">
                            <a th:href="@{/proyecto/listaProyectos/__${session.usuariosession.id}__}" class="btn btn-secondary" style="width: 30%">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <footer th:replace = "/fragments/footer :: footer"></footer>

    </body>
</html>
