<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
    <head>
        <title>Panel de Administración</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <nav th:replace = "/fragments/navbar2 :: nav"></nav>
        </header>
        <main>
            <aside>
                <section>
                    Este elemento de aqui
                </section>
                <section>
                    Este elemento de allá
                </section>
            </aside>
        </main>
        <footer th:replace="fragments/footer :: footer">
        </footer>

    </body>
</html>
