<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace = "/fragments/head :: head"></head>

    <body>
        <header class="contenedor-header">
            <nav th:replace = "/fragments/navbar2 :: nav"></nav>

            <div class="container my-5">
                <div class="detalle-proyecto card mx-auto">
                    <div class="bodyForm-registrar"  style="padding: 3rem">
                        <h2 class="mb-4">Detalle de la Nota</h2>


                        <!-- Mensaje de éxito -->
                        <div th:if="${exito}" class="alert alert-success" role="alert">
                            <p th:text="${exito}"></p>
                        </div>

                        <p class="card-text"><strong>Fecha: </strong><span th:text="${nota.fecha}">Fecha Creación</span></p>
                        <p class="card-text"><strong>Descripción: </strong><span th:text="${nota.detalleNota}">Descripción de la Nota</span></p>
                        <p class="card-text"><strong>Nombre del proyecto: </strong><span th:text="${nota.proyecto.nombre}">Proyecto</span></p>
                        <div style="padding-bottom: 5rem">
                            <a th:href="@{/proyecto/trabajo}" class="btn btn-primary">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <footer th:replace="/fragments/footer :: footer"></footer>
    </body>

</html>


