<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
    <main class="container my-5">
        <div class="detalle-proyecto card mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <h1 class="card-title text-center">Detalle del Proyecto</h1>
                <p class="card-text"><strong>Nombre:</strong> <span th:text="${proyecto.nombre}">Nombre del Proyecto</span></p>
                <p class="card-text"><strong>Detalle:</strong> <span th:text="${proyecto.detalleProyecto}">Detalle del Proyecto</span></p>
                <p class="card-text"><strong>Fecha de Inicio:</strong> <span th:text="${proyecto.fechaInicio}">Fecha de Inicio</span></p>
                <p class="card-text"><strong>Fecha de Finalización:</strong> <span th:text="${proyecto.fechaFinalizacion}">Fecha de Finalización</span></p>
                <!-- Añade más detalles según necesites -->

                <div class="text-center mt-4">
                    <a th:href="@{/proyecto/modificar/__${proyecto.id}__}" class="btn btn-primary me-2">Modificar Proyecto</a>
                    <a th:href="@{/proyecto/eliminar/__${proyecto.id}__}" class="btn btn-danger me-2">Eliminar Proyecto</a>
                    <a href="/proyecto/lista" class="btn btn-secondary">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>