<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&display=swap"
            rel="stylesheet"
            />
        <link rel="stylesheet" type="text/css" href="/css/globales.css" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <title>D5 Design</title>
    </head>
    <body>
        <header class="contenedor-header-formulario">
            <nav class="navegacion" xmlns:th="http://www.thymeleaf.org">
                <!-- Logo -->
                <a href="#" class="enlace">
                    <img src="/img/logo2.png" alt="" class="logo"/>
                </a>
            </nav>
            <main class="container my-5">
                <div class="container mt-5">

                    <div class="bodyForm-registrar">
                        <h2 class="mb-4">Detalle de la Tarea</h2>

                        <!-- Mensaje de éxito -->
                        <div th:if="${exito}" class="alert alert-success" role="alert">
                            <p th:text="${exito}"></p>
                        </div>
                        <h5 class="card-title" th:text="${tarea.nombreTarea}">Nombre de la Tarea</h5>
                        <p class="card-text" th:text="${tarea.descripcion}">Descripción de la Tarea</p>
                        <p class="card-text"><strong>Fecha de Inicio: </strong><span th:text="${tarea.fechaInicio}">Fecha
                                Inicio</span></p>
                        <p class="card-text"><strong>Fecha de Finalización: </strong><span
                                th:text="${tarea.fechaFinalizacion}">Fecha Finalización</span></p>
                        <p class="card-text"><strong>Estado: </strong><span th:if="${tarea.estado}"
                                                                            th:text="'Completada'">Completada</span><span th:if="${!tarea.estado}"
                                                                            th:text="'Pendiente'">Pendiente</span></p>
                        <div style="padding-bottom: 5rem">
                            <a th:href="@{/inicio}" class="btn btn-primary">Volver al inicio</a>
                        </div>
                    </div>
                </div>
                </div>
            </main>
        </header>
        <footer th:replace="/fragments/footer :: footer"></footer>
    </body>

</html>