<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&display=swap"
            rel="stylesheet"
            />
        <link rel="stylesheet" type="text/css" href="/css/globales.css" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <title>D5 Design</title>
    </head>
    <body>
        <header class="contenedor-header">
            <nav th:replace = "/fragments/navbar :: nav"></nav>
            <div th:replace = "/fragments/modelo :: div"></div>

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="text-center">Registro de Proyecto</h1>
                        <form class="mt-4" th:action="@{/proyecto/registro}" th:object="${proyecto}" method="POST">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre del Proyecto</label>
                                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre">
                            </div>
                            <div class="mb-3">
                                <label for="detalle" class="form-label">Detalle del Proyecto</label>
                                <input type="text" class="form-control" id="detalle" th:field="*{detalleProyecto}" placeholder="Detalle">
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
                                    <input type="date" class="form-control" id="fechaInicio" th:field="*{fechaInicio}">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="fechaFinalizacion" class="form-label">Fecha de Finalización</label>
                                    <input type="date" class="form-control" id="fechaFinalizacion" th:field="*{fechaFinalizacion}">
                                </div>
                            </div>
                            <input type="hidden" th:field="*{estado}" value="true">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <a href="@{/inicio}" class="btn btn-secondary">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <footer th:replace="/fragments/footer :: footer"></footer>
    </body>
</html>