<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head">

    <body>
        <header class="contenedor-header-formulario">
            <nav th:replace = "/fragments/navbar2 :: nav"></nav>

            <div th:replace="/fragments/modelo :: div"></div>

            <div class="contenedor-portada"></div>

            <main class="container mt-5 ">

                <div class="row justify-content-center">
                    <div class="col-md-6 bodyForm-registrar" style="padding: 6rem">
                        <h2 class="text-center mb-5">Ingresa una reunion</h2>
                        <form th:action="@{/reunion/registro}" method="post" th:object="${reunion}" class="form-group">

                            <!-- Campos del formulario -->
                            <label for="nombre">Nombre de la reunion</label>
                            <input type="text" id="nombreTarea" name="nombre" th:field="*{nombre}"
                                   placeholder="Nombre" class="form-control mb-3" />
                            <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <label for="detalle">Descripcion de la reunion</label>
                            <textarea id="detalle" name="detalle" th:field="*{detalle}" rows="4"
                                      placeholder="Descripcion" class="form-control mb-3"></textarea>
                            <p th:if="${#fields.hasErrors('detalle')}" th:errors="*{detalle}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <!-- Campo oculto para el estado -->
                            <input hidden="hidden" type="checkbox" id='estado' name="estado" th:checked="true" />
                            <input hidden="hidden" type="text" id="progreso" name="progreso" th:value="${reunion.progreso}" />

                            <!-- Campos de fecha de inicio y finalización -->
                            <label for="horarioDeInicio">Hora de inicio</label>
                            <input type="datetime-local" id="horarioDeInicio" name="horarioDeInicio" th:field="*{horarioDeInicio}" class="form-control mb-3" pattern="yyyy-MM-ddTHH:mm" />

                            <p th:if="${#fields.hasErrors('horarioDeInicio')}" th:errors="*{horarioDeInicio}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <label for="horarioDeFin">Horario de Finalización</label>
                            <input type="datetime-local" id="horarioDeFin" name="horarioDeFin" pattern="yyyy-MM-ddTHH:mm"
                                   th:field="*{horarioDeFin}" class="form-control mb-3" />
                            <p th:if="${#fields.hasErrors('horarioDeFin')}" th:errors="*{horarioDeFin}"
                               class="error-message" style="color: red; font-size: 0.9em;"> </p>
                            <!-- Select para proyectos -->
                            <label for="proyecto">Seleccionar Proyecto</label>
                            <select id="proyecto" name="proyectoId" class="form-select mb-3">
                                <option label="Elije Proyecto" value=""></option>
                                <option th:each="proyecto : ${proyectos}" th:text="${proyecto.nombre}" th:value="${proyecto.id}"></option>
                            </select>

                            <!-- Select para usuarios -->
                            <div class="select-container">
                                <label for="usuarios">Seleccionar Usuarios</label>
                                <select id="usuarios" name="usuarioDestinatarioId" class="form-select mb-3" onchange="mostrarProyectos(this)">
                                    <option label="Elije Usuario" value=""></option>
                                    <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" class="select-usuarios" th:text="${usuario.nombre + ' ' + usuario.apellido + '(' + usuario.rol + ')' + 'Empresa(' + usuario.empresa + ')'}"></option>
                                </select>

                            </div>
                            <!-- Divs con la lista de proyectos, utiliza Thymeleaf para establecer el estilo -->
                            <div th:each="usuario : ${usuarios}" th:id="'proyectosList_' + ${usuario.id}" class="proyectosList" style="display:none;">
                                <ul>
                                    <!-- Itera sobre la lista de proyectos dentro de cada usuario -->
                                    <p style="border-bottom: 2px dotted #081b29; font-size: 1.7rem">Proyectos del Usuario</p>
                                    <li th:each="proyecto : ${usuario.proyectos}" th:text="${proyecto.nombre}" style="list-style: none; border-bottom: 3px double #081b29ea; text-align: left"></li>
                                </ul>
                            </div>
                            <p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}" class="error-message" style="color: red; font-size: 0.9em;"></p>


                            <div class='row'>
                                <button type="submit" class="btn btn-primary">Guardar reunion</button>
                            </div>
                            <div class='row' sec:authorize="hasAnyRole('ADMIN')" >
                                <a href="/reunion/lista" class="btn btn-secondary" style="margin: 1rem">Volver</a>
                            </div>
                            <div class='row' sec:authorize="hasAnyRole('CLIENTE', 'AGENTE')">
                                <a th:href="@{/reunion/listaReuniones/__${session.usuariosession.id}__}" class="btn btn-secondary" style="margin: 1rem">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>

            </main>
        </header>
        <footer th:replace="/fragments/footer :: footer"></footer>

    </body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function mostrarProyectos(select) {
            // Oculta todos los divs de proyectos
            var proyectosDivs = document.querySelectorAll('.proyectosList');
            proyectosDivs.forEach(function (div) {
                div.style.display = 'none';
            });

            // Muestra el div correspondiente al usuario seleccionado
            var selectedUserId = select.value;
            var proyectosDiv = document.getElementById('proyectosList_' + selectedUserId);
            if (proyectosDiv) {
                proyectosDiv.style.display = 'block';
            }
        }
        /*]]>*/
    </script>
    <script>
    document.getElementById('horarioDeInicio').addEventListener('change', function(event) {
        console.log(event.target.value);
    });
</script>
</html>