<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>

<body>
	<header class="contenedor-header">
		<nav class="navegacion">
			<!-- Hamburguesa -->
			<input type="checkbox" id="check" />
			<label for="check" class="checkbtn">
				<i class="fas fa-bars"></i>
			</label>

			<!-- Logo -->
			<a href="#" class="enlace">
				<img src="img/logo2.png" alt="" class="logo" />
			</a>
		</nav>
		<div class="contenedor-portada"></div>
		<div th:replace="/fragments/modelo :: div"></div>
	</header>

	<main class="contenedor-proyecto">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<h2 class="text-center mb-5">Ingresa una tarea en tu block de notas</h2>
					<form th:action="@{/tarea/registro}" method="post" th:object="${tarea}" class="form-group">
						<!-- Campos del formulario -->
						<label for="nombreTarea">Nombre de la tarea</label>
						<input type="text" id="nombreTarea" name="nombreTarea" th:field="*{nombreTarea}"
							placeholder="Nombre" class="form-control mb-3" />
						<p th:if="${#fields.hasErrors('nombreTarea')}" th:errors="*{nombreTarea}" class="error-message"
							style="color: red; font-size: 0.9em;"></p>

						<label for="descripcion">Descripcion de la tarea</label>
						<textarea id="descripcion" name="descripcion" th:field="*{descripcion}" rows="4"
							placeholder="Descripcion" class="form-control mb-3"></textarea>
						<p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="error-message"
							style="color: red; font-size: 0.9em;"></p>

						<!-- Campos de fecha de inicio y finalización -->
						<label for="fechaInicio">Fecha de Inicio</label>
						<input type="datetime-local" id="fechaInicio" name="fechaInicio" th:field="*{fechaInicio}"
							class="form-control mb-3" />
						<p th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="error-message"
							style="color: red; font-size: 0.9em;"></p>

						<label for="fechaFinalizacion">Fecha de Finalización</label>
						<input type="datetime-local" id="fechaFinalizacion" name="fechaFinalizacion"
							th:field="*{fechaFinalizacion}" class="form-control mb-3" />
						<p th:if="${#fields.hasErrors('fechaFinalizacion')}" th:errors="*{fechaFinalizacion}"
							class="error-message" style="color: red; font-size: 0.9em;"> </p>

						<!-- Campo oculto para el estado -->
						<input type="hidden" name="estado" th:field="*{estado}" th:value="true" />

						<button type="submit" class="btn btn-primary">Guardar tarea</button>
						<a href="@{/index}" class="btn btn-secondary">Volver</a>
					</form>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>