<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"></head>
    <body>
        <header class="contenedor-header">
            <nav th:replace = "/fragments/navbar :: nav"></nav>
            <div th:replace = "/fragments/modelo :: div"></div>
            <div class="contenedor-portada">
                <h1>Bienvenido a Five Design</h1>   
            </div>
        </header>
        <main>
            <div class="container-titulo-cards">
                <h1 class="titulo-cards" id="nosotros">Nosotros</h1>
                <h4 class="descripcion-cards">
                    Somos una agencia de publicidad que trabaja con clientes de todo
                    Latinoamérica. Nuestra empresa se caracteriza por brindar soluciones
                    Web a nuestros clientes. Contamos con un excelente staff de
                    colaboradores. Eficiencia y Perfeccionismo serían nuestras mejores
                    cualidades.
                </h4>
            </div>
            <section class="container-cards">
                <div class="card custom-card m-4" style="width: 18rem">
                    <img
                        src="img/creative.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                    <div class="card-body">
                        <h5 class="card-title">Creatividad</h5>
                        <p class="card-text">
                            La creatividad es la base de todos nuestros proyectos. Nuestro
                            proyectos se caracterizan por ser únicos y personalizados.
                        </p>
                        <!--<div class="card-footer d-flex justify-content-center">
                            <p class="btn btn-primary">Nuestros proyectos</p>
                            Este listado solo debe mostrar nombre del proyecto breve descripción y alguna foto
                        </div>-->
                    </div>
                </div>
                <div class="card custom-card m-4" style="width: 18rem">
                    <img
                        src="img/profesional.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                    <div class="card-body">
                        <h5 class="card-title">Profesional</h5>
                        <p class="card-text">
                            Nos caracterizamos por nuestro profesionalismo. Nuestros Agentes
                            están preseleccionados para poder brindarle a nuestros clientes la
                            mejor experiencia.
                        </p>
                       <!-- <div class="card-footer d-flex justify-content-center">
                            <p class="btn btn-primary">Conocer a nuestros Agentes</p>
                            Este listado solo debe mostrar nombre foto y profesion
                        </div>-->
                    </div>
                </div>
                <div class="card custom-card m-4" style="width: 18rem">
                    <img
                        src="img/equipo.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                    <div class="card-body">
                        <h5 class="card-title">Equipo</h5>
                        <p class="card-text">
                            Nuestro trabajo en equipo es nuestra mayor fortaleza. Trabajamos
                            de manera conjunta para optimizar el tiempo y lograr nuestras
                            metas.
                        </p>
                        <!--<div class="card-footer d-flex justify-content-center">
                            <p class="btn btn-primary">Nuestra Historia</p>
                        </div>-->
                    </div>
                </div>
            </section>
            <div class="container-contacto">
                <div class="info">
                    <h4>Más de Nosotros</h4>
                    <a th:href="@{/solicitar}" class="btn">Dejanos tus datos</a>
                </div>
                <div class="contenedor-form contacto">
                    <div class="bodyForm">
                        <h1>Contacto</h1>
                        <div class="form">
                            <div class="formLogin">
                                <form class="m-5">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label"
                                               >Ingresa tu E-mail
                                        </label>
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="exampleInputEmail1"
                                            aria-describedby="emailHelp"
                                            placeholder="E-mail"
                                            />
                                        <div class="mb-3">
                                            <label for="nota" class="form-label"
                                                   >Dejanos un mensaje
                                            </label>
                                            <textarea
                                                class="form-control"
                                                id="nota"
                                                name="mensaje"
                                                th:value="${mensaje}"
                                                rows="4"
                                                cols="50"
                                                placeholder="Mensaje"
                                                ></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacto" id="contacto">
                    <h5>Contactanos</h5>
                    <h5>Telefono: 11342274647</h5>
                    <h5>Email: fiveDesign@gmail.com</h5>
                </div>
            </div>
        </main>
        <footer th:replace = "/fragments/footer :: footer"></footer>
    </body>
</html>
