<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header class="contenedor-header-formulario">
            <nav th:replace = "/fragments/navbar2 :: nav"></nav>
            <div class="container">
                <div th:replace="fragments/modelo :: div"></div>
                <section class="text-center">
                    <form th:action="@{/buscar}" method="get" class="form-inline justify-content-center mb-2">
                        <!-- Agrego el campo de búsqueda con un identificador -->
                        <input type="text" id="nombreProyecto" th:value="${nombreProyecto}" name="nombreProyecto" class="form-control input-empresa" placeholder="Buscar por nombre del proyecto" oninput="mostrarSugerencias(this.value)">

                        <!-- Agrego el div con las sugerencias -->
                        <div id="sugerenciasProyectos" class="sugerencias-proyectos" style="display:none;">
                            <ul onclick="seleccionarSugerencia(event)">
                                <!-- Lista de sugerencias -->
                            </ul>
                        </div>
                        <button type="submit" class="btn-buscar">Buscar por nombre Proyecto</button>
                    </form>
                </section>

                <div class="resultados mt-4">
                    <h2>Empresas Asociadas</h2>

                    <div th:if="${empresas != null and !empresas.isEmpty()}" class='input-empresa-otro'>
                        <ul>
                            <!-- Lista de empresas -->
                            <li th:each="empresa : ${empresas}" th:text="${empresa}" style="border-bottom: 3px double white;">Nombre de la Empresa</li>
                        </ul>
                    </div>
                    <div th:if="${empresas == null or empresas.isEmpty()}" class="alert alert-info" style="border: 2px solid var(--fondo)">
                        No se encontraron empresas o usuarios asociados al proyecto.
                    </div>
                </div>

                <section class="text-center" style="margin-top: 4rem">

                    <form th:action="@{/buscarUsuario}" method="get" class="form-inline justify-content-center mb-2">
                        <!-- Agrego el campo de autocompletar para el nombre de la empresa -->
                        <div class="autocomplete">
                            <input type="text" id="nombreEmpresa" name="nombreEmpresa" class="form-control input-empresa" placeholder="Buscar por nombre de la empresa"
                                   oninput="mostrarSugerenciasEmpresa(this.value)">
                            <div id="sugerenciasEmpresas" class="sugerencias-proyectos" style="display:none;"></div>
                        </div>
                        <button type="submit" class="btn-buscar">Buscar por nombre Empresa</button>
                    </form>
                </section>
                <div class="resultados mt-4">
                    <h2>Usuarios Asociados</h2>

                    <div th:if="${usuarios != null and !usuarios.isEmpty()}" class='input-empresa-otro'>
                        <ul>
                            <!-- Lista de empresas -->
                            <li th:each="usuario : ${usuarios}" th:text="${usuario.nombre + ' ' + usuario.apellido + '(' + usuario.rol + ')'}" style="border-bottom: 3px double white;">Nombre del Usuario</li>
                        </ul>
                    </div>
                    <div th:if="${usuarios == null or usuarios.isEmpty()}" class="alert alert-info" style="border: 2px solid var(--fondo)">
                        No se encontraron usuarios asociados a la empresa.
                    </div>
                </div>
            </div>
            <div class="resultados mt-4">
                <h2>Proyectos Asociados</h2>
                
                <div th:if="${proyectosEmpresa != null and !proyectosEmpresa.isEmpty()}">
                    <ul>
                        <!-- Lista de empresas -->
                        <li th:each="proyectoEmpresa : ${proyectosEmpresa}" th:text="${proyectoEmpresa}">Nombre de la Empresa</li>
                    </ul>
                </div>
                <div th:if="${proyectosEmpresa == null or proyectosEmpresa.isEmpty()}" class="alert alert-info">
                    No se encontraron proyecto asociados a ese nombre.
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a th:href="@{/inicio}" class="btn btn-secondary">Volver</a>
        </div>
        </header>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
    <!-- Agrego el script de JavaScript para controlar la visibilidad y autocompletar -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function mostrarSugerencias(valor) {
            // Oculto la lista de sugerencias si el valor está vacío
            if (!valor.trim()) {
                document.getElementById('sugerenciasProyectos').style.display = 'none';
                return;
            }

            // Limpia la lista de sugerencias
            var sugerenciasProyectos = document.getElementById('sugerenciasProyectos');
            sugerenciasProyectos.innerHTML = '';

            // Realizo la solicitud al controlador para obtener las sugerencias
            fetch('/sugerirNombresProyectos?query=' + valor)
                    .then(response => response.json())
                    .then(data => {
                        // Agrega las sugerencias a la lista
                        var ul = document.createElement('ul');
                        data.forEach(function (sugerencia) {
                            var li = document.createElement('li');
                            li.textContent = sugerencia;
                            li.onclick = function () { // Agrega un evento onclick a cada sugerencia
                                document.getElementById('nombreProyecto').value = sugerencia;
                                sugerenciasProyectos.style.display = 'none';
                            };
                            ul.appendChild(li);
                        });
                        sugerenciasProyectos.appendChild(ul);

                        // Muestra el div si hay sugerencias, ocúltalo de lo contrario
                        sugerenciasProyectos.style.display = data.length > 0 ? 'block' : 'none';
                    })
                    .catch(error => console.error('Error al obtener sugerencias:', error));
        }
        /*]]>*/
    </script>
    <!-- Agrego el script de JavaScript para controlar la visibilidad y autocompletar -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function mostrarSugerenciasEmpresa(valor) {
            // Oculta la lista de sugerencias si el valor está vacío
            if (!valor.trim()) {
                document.getElementById('sugerenciasEmpresas').style.display = 'none';
                return;
            }

            // Limpia la lista de sugerencias
            var sugerenciasEmpresas = document.getElementById('sugerenciasEmpresas');
            sugerenciasEmpresas.innerHTML = '';

            // Realiza la solicitud al controlador para obtener las sugerencias de empresas a través de usuarios
            fetch('/sugerirNombresEmpresas?query=' + valor)
                    .then(response => response.json())
                    .then(data => {
                        // Agrega las sugerencias a la lista
                        var ul = document.createElement('ul');
                        data.forEach(function (sugerencia) {
                            var li = document.createElement('li');
                            li.textContent = sugerencia;
                            li.onclick = function () { // Agrega un evento onclick a cada sugerencia
                                document.getElementById('nombreEmpresa').value = sugerencia;
                                sugerenciasEmpresas.style.display = 'none';
                            };
                            ul.appendChild(li);
                        });
                        sugerenciasEmpresas.appendChild(ul);

                        // Muestra el div si hay sugerencias, ocúltalo de lo contrario
                        sugerenciasEmpresas.style.display = data.length > 0 ? 'block' : 'none';
                    })
                    .catch(error => console.error('Error al obtener sugerencias de empresas a través de usuarios:', error));
        }
        /*]]>*/
    </script>
</html>
