<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div> 
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Finalización</th>
                        <th>Usuarios</th>
                        <th>Proyecto</th>
                    </tr>
                </thead>
                <tbody th:each="tarea : ${tareas}">
                    <tr>
                        <th th:text="${tarea.id}"></th>
                        <td th:text="${tarea.nombreTarea}"></td>
                        <td th:text="${tarea.descripcion}"></td>
                        <td th:text="${tarea.fechaInicio}"></td>
                        <td th:each="${tarea.fechaFinalizacion}">

                        </td>
                        <td >
                            <ul th:each="elegidos:${tarea.usuario}">
                                <li th:text="${elegidos.nombre}"></li>
                            </ul>
                        </td>
                        <td >
                            <ul th:each="asociado:${tarea.proyecto}">
                                <li th:text="${asociado.nombre}"></li>
                            </ul>
                        </td>
                        <td>
                            <a
                                class="modificar"
                                th:href="@{/tarea/modificar/__${tarea.id}__}"
                                ><i class="fas fa-feather-alt"></i> Modificar</a
                            >
                        </td>
                        <td>
                            <a
                                class="eliminar"
                                th:href="@{/tarea/eliminar/__${tarea.id}__}"
                                ><i class="fa-solid fa-trash"></i> Eliminar</a
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
