<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace = "/fragments/head :: head"></head>

    <body>
        <header class="contenedor-header-proyecto">

          <nav th:replace = "/fragments/navbar2 :: nav"></nav>

            <div class="contenedor-tabla container">
                <div class="contenedor-proyecto row">                
                        <h2>Listado de Tareas De Todos los Proyectos</h2>
                            <section id="pendientes">
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Finalización</th>
                                    <th>Usuario Encargado</th>
                                    <th>Proyecto Relacionados</th>
                                    <th>Estado</th>
                                    <th>Progreso</th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody th:each="tarea : ${tareas}">
                                <tr>
                                    <th th:text="${tarea.id}"></th>
                                    <td th:text="${tarea.nombreTarea}"></td>
                                    <td th:text="${tarea.descripcion}"></td>
                                    <td th:text="${tarea.fechaInicio}"></td>
                                    <td th:text="${tarea.fechaFinalizacion}">

                                    </td>
                                    <td>
                                        <ul th:each="elegidos:${tarea.usuario}">
                                            <li th:text="${elegidos.nombre}"></li>
                                        </ul>
                                    </td>
                                    <td th:text="${tarea.proyecto.nombre}">
                                    </td>
                                    <td>
                                        <span th:if="${!tarea.estado}" th:text="'Baja'">Baja</span>
                                        <span th:if="${tarea.estado}" th:text="'Alta'">Alta</span>
                                    </td>
                                    <th th:text="${tarea.progreso}"></th>
                                    <td style="text-align: center">
                                        <a
                                            class="modificar"
                                            th:href="@{/tarea/modificar/__${tarea.id}__}"
                                            ><i class="fas fa-feather-alt"></i> Modificar</a
                                        >
                                    </td>
                                    <td style="text-align: center">
                                        <a
                                            class="eliminar"
                                            th:href="@{/tarea/eliminar/__${tarea.id}__}"
                                            ><i class="fa-solid fa-trash"></i> Eliminar</a
                                        >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <div class="btn-volver">
                        <a th:href="@{/inicio}">Volver</a>
                    </div>
                </div>
            </div>
            <div th:replace = "/fragments/modelo :: div"></div>
        </header>
        <footer th:replace = "/fragments/footer :: footer"></footer>
    </body>
</html>
