<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&display=swap"
            rel="stylesheet"
            />
        <link rel="stylesheet" type="text/css" th:href="@{/css/globales.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/agente.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/notas.css}" />

        <script
            <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <title>D5 Design</title>
    </head>
    <body>
        <header class="contenedor-header">
            <nav class="navegacion">
                <!-- Logo -->
                <a th:href="@{/inicio}" class="enlace">
                    <img src="/img/logo2.png" alt="" class="logo"/>
                </a>
            </nav>
            <h1 class="text-center" style="text-shadow: 1px 2px 3px var(--blanco), 2px 3px 5px gray">Aquí puedes encontrar toda la información de tus proyectos</h1>
            <form th:action="@{/proyecto/buscar}" method="POST" class="bodyForm">
                <h2 class="card-title text-center">Selecciona un Proyecto</h2>                
                <div class="buscador">
                    <select name="proyectoId" >

                        <option label="Elije Proyecto" value="''"></option>

                        <option th:each="proyecto : ${proyectos}"
                                th:text="${proyecto.nombre}"
                                th:value="${proyecto.id}"

                                ></option>             
                    </select>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>  
            <main class="container-main">
                <div class="container">
                    <div class="proyecto" th:if="${proyectoElegido !=null}">
                        <h1 class="card-title text-center">Detalle del Proyecto</h1>
                        <h5 class="card-text">
                            <strong>Nombre:</strong>
                            <span th:text="${proyectoElegido.nombre}">Nombre del Proyecto</span>
                        </h5>
                        <h5 class="card-text">
                            <strong>Detalle:</strong>
                            <span th:text="${proyectoElegido.detalleProyecto}">Detalle del Proyecto</span>
                        </h5>
                        <h5 class="card-text">
                            <strong>Fecha de Inicio:</strong>
                            <span th:text="${proyectoElegido.fechaInicio}">Fecha de Inicio</span>
                        </h5>
                        <h5 class="card-text">
                            <strong>Fecha de Finalización:</strong>
                            <span th:text="${proyectoElegido.fechaFinalizacion}">Fecha de Finalización</span>
                        </h5>
                        <h5 class="card-text">
                            <strong>Lista de Participantes:</strong><br>
                            <span>
                                <span th:each="usuario : ${proyectoElegido.usuarios}">
                                    <span th:text="${usuario.nombre} + ' ' + ${usuario.apellido} + ' (' + ${usuario.rol} + ')'"></span>
                                    <br/>
                                </span>
                            </span>
                        </h5>
                    </div>
                </div>
                <div class="container">
                    <div class="reunion" th:if="${reuniones !=null}">
                        <h1 class="mb-4">Reuniones para este proyecto</h1>
                        <div th:if="${not #lists.isEmpty(reuniones)}" th:each="reunion : ${reuniones}" >
                            <h5 class="card-text">
                                <strong>Nombre: </strong>
                                <span th:text="${reunion.nombre}">Nombre</span>
                            </h5>
                            <h5 class="card-text">
                                <strong>Participantes de la Reunion:</strong> </h5>
                            <!-- Iterar sobre la lista de participantes -->
                            <ul>
                                <li th:each="participante : ${reunion.usuarios}" style="list-style: none">
                                    <span th:text="${participante.nombre + ' ' + participante.apellido}"></span>
                                </li>
                            </ul>

                            <h5 class="card-text">
                                <strong>Detalle de la Reunion:</strong></h5>
                            <p class="card-text" th:text="${reunion.detalle}"></p>
                            <h5 class="card-text">
                                <strong>Hora de Inicio: </strong>
                                <span th:text="${reunion.horarioDeInicio}">Fecha Inicio</span>
                            </h5>
                            <h5 class="card-text">
                                <strong>Hora de Finalización: </strong>
                                <span th:text="${reunion.horarioDeFin}">Finalización</span>
                            </h5>
                            <hr/>
                        </div>
                        <div th:if="${#lists.isEmpty(reuniones)}">
                            <p>No hay reuniones para este proyecto.</p>
                        </div>

                    </div>
                </div> 
                <div class="container">
                    <div class="tarea" th:if="${tareas != null}">
                        <h1 class="mb-4"> Tareas de este Proyecto</h1>
                        <div th:if="${not #lists.isEmpty(tareas)}" th:each="tarea : ${tareas}">

                            <h5 class="card-title"><strong>Nombre: </strong><span th:text="${tarea.nombreTarea}">Nombre</span></h5>
                            <h5 class="card-text"><strong> Descripción de la Tarea:</strong></h5>
                            <p class="card-text" th:text="${tarea.descripcion}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga repudiandae aliquam soluta quas quibusdam odit itaque reprehenderit consequatur ducimus, iure dolor officia provident!</p>
                            <h5 class="card-text"><strong>Fecha de Inicio: </strong><span th:text="${tarea.fechaInicio}">Fecha
                                    Inicio</span></h5>
                            <h5 class="card-text"><strong>Fecha de Finalización: </strong><span
                                    th:text="${tarea.fechaFinalizacion}">Fecha Finalización</span></h5>
                            <h5 class="card-text"><strong>Estado: </strong>
                                <span th:text="${tarea.estado} ?'En Proceso':'Completado'"></span>  
                            </h5>
                            <hr/>
                        </div>
                        <div th:if="${#lists.isEmpty(tareas)}">
                            <p>No hay tareas para este proyecto.</p>
                        </div>
                    </div>
                </div>
                <div class="container" id="container">
                    <div class="notas" th:if="${proyectoElegido != null}">
                        <h1 class="card-title text-center" style="margin-bottom: 2rem">Block de Notas</h1>
                        <div class="book-content">
                            <div th:each="nota, notaStat : ${notas}" class="book">
                                <!-- Cara Frontal -->
                                <div class="face-front" th:attr="id='portada-${notaStat.index}'">
                                    <!-- Agrega el estilo para la imagen de portada -->
                                    <div class="cover-image face-front" style="background-image: url('/img/Notas.jpeg');"></div>
                                </div>
                                <!-- Cara Posterior -->
                                <div class="face-back" th:attr="id='trsf-${notaStat.index}'">
                                    <p th:text="${nota.fecha}"></p>
                                    <h5 th:text="${nota.detalleNota}"></h5> 
                                    <div class="eliminar">
                                        <a 
                                            th:href="@{/nota/eliminar/__${nota.id}__}"
                                            ><i class="fa-solid fa-trash"></i></a
                                        >
                                    </div>                                  
                                </div>
                            </div>
                            <!-- Tapa posterior del libro -->
                            <div class="back-cover rotated"></div>
                        </div>
                        <div class="volver-nota">
                            <a th:href="@{/nota/registrar/__${proyectoElegido.id}__}" class="btn">Agregar Nota</a>
                        </div>
                    </div>
                </div>

            </main>

            <div class="volver">
                <a th:href="@{/inicio}" class="btn">Volver</a>
            </div>
        </header>
        <footer>
            <div id="container-footer">
                <p>&copy; 2023 Argentina</p>
                <div id="social">
                    <img src="/img/social-icons.svg" />
                </div>
            </div>
        </footer>
        <script>
            var contZindex = 1;
            var uno = document.querySelectorAll(".book");
            var flip = document.querySelector(".book-content");

            uno.forEach(function (page, index) {
                page.addEventListener("click", function (e) {
                    var tgt = e.target;
                    var unoThis = this;

                    unoThis.style.zIndex = contZindex;
                    contZindex++;

                    if (tgt.classList.contains("face-front")) {
                        unoThis.style.zIndex = contZindex;
                        contZindex += 20;
                        setTimeout(function () {
                            unoThis.style.transform = "rotateY(-180deg)";
                        }, 50);
                    } else if (tgt.classList.contains("face-back")) {
                        unoThis.style.zIndex = contZindex;
                        contZindex += 20;
                        setTimeout(function () {
                            unoThis.style.transform = "rotateY(0deg)";
                        }, 50);
                    } else if (tgt.getAttribute('id') && tgt.getAttribute('id').startsWith('trsf')) {
                        flip.classList.remove("trnsf-reset");
                        flip.classList.add("trnsf");
                    }
                });

                // Manejar la tapa posterior
                if (index === uno.length - 1) {
                    page.querySelector(".back-cover").addEventListener("click", function () {
                        flip.classList.remove("trnsf");
                        flip.classList.add("trnsf-reset");
                    });
                }
            });
        </script>

    </body>
</html>
