<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"></head>

    <body>
        <header class="contenedor-header">
            <nav th:replace = "/fragments/navbar :: nav"></nav>
            <div th:replace = "/fragments/modelo :: div"></div>
        </header>
       <body>
     <div class="contenedor-tabla">
            <div class="contenedor-pendientes">
                <section id="pendientes">
                        <h2>Listado de Tareas</h2>
                    <table class="tabla">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th>Id Proyecto</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Finalización</th>
                                <th>Modificación</th>
                                <th>Eliminación</th>
                            </tr>
                        </thead>
                        <tbody th:each="tarea : ${tareas}">
                            <tr>
                                <th th:text="${tareas.id}"></th>
                                <td th:text="${tareas.nombreTarea}"></td>
                                <td>
                                <a class="ver" th:href="@{/tarea/descripcion/__${tarea.id}__}"><i class="fa-regular fa-eye"></i>
                                    Ver</a>
                            </td>
                                <td th:text="${tareas.estado}"></td>
                                <td th:text="${tareas.proyecto.id}"></td>
                                <td th:text="${tareas.fechaInicio}"></td>
                                <td th:text="${tareas.fechaFinalizacion}"></td>
                                <td>
                                    <a
                                        class="modificar"
                                        th:href="@{/tarea/modificar/__${tarea.id}__}"
                                        ><i class="fas fa-feather-alt"></i> Modificar</a
                                    >
                                </td>
                                <td>
                                    <a
                                        class="eliminar"
                                        th:href="@{/tarea/eliminar/__${tarea.id}__}"
                                        ><i class="fa-solid fa-trash"></i> Eliminar</a
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Aquí va la tabla con proyectos y acciones para el Agente -->
                </section>

                <!-- Sección para crear un nuevo proyecto (visible para el Agente) -->
                <section id="crear-proyecto">
                    <a th:href="@{/tarea/registrar}" class="btn">Crear nueva Tarea</a>
                    <!-- Metodo get return formulario_proyecto.html -->
                    <!-- Formulario para crear un nuevo proyecto -->
                </section>
                <div class="btn-volver">
                    <a th:href="@{/inicio}">Volver</a>
                </div>
            </div>
        </div>
  </body>
    </main>
    <footer th:replace = "/fragments/footer :: footer"></footer>
</body>
</html>
