<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&display=swap"
            rel="stylesheet"
            />
        <link rel="stylesheet" type="text/css" href="css/globales.css" />
        <link rel="stylesheet" type="text/css" href="css/tablas.css" />
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <title>D5 Design</title>
    </head>

    <body>
        <header class="contenedor-header">
            <nav th:replace = "/fragments/navbar :: nav"></nav>
            <div th:replace = "/fragments/modelo :: div"></div>



            <div class="container mt-5">


                <div class="card">
                    <div class="card-body">

                        <h2 class="mb-4">Perfil Usuario</h2>
                        <div class="container-imagen">
                            <a><img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" style="width: 13rem"></a>
                        </div>
                        <h5 class="card-text">Nombre: <span th:text="${nombre}"></span></h5>
                        <h5 class="card-text">Apellido: <span th:text="${apellido}"></span></h5>
                        <h5 class="card-text">Email: <span th:text="${email}"></span></h5>
                        <h5 class="card-text">Password: <span th:text="${password}"></span></h5>
                        <h5 class="card-text">Dni: <span th:text="${dni}"></span></h5>
                        <h5 class="card-text">Telefono: <span th:text="${telefono}"></span></h5>
                        <h5 class="card-text">Direccion: <span th:text="${direccion}"></span></h5>
                        <h5 class="card-text">Empresa: <span th:text="${empresa}"></span></h5>
                        <h5 class="card-text">Rol: <span th:text="${rol}"></span></h5>
                       
                        <!-- Botones para modificar y eliminar -->
                        <a th:href="@{'/modificar/' + ${session.usuariosession.id}}" class="btn btn-warning">Modificar</a>
                        <a th:href="@{'/eliminar/' + ${session.usuariosession.id}}" class="btn btn-danger">Eliminar</a>      
                        <div>
                            <a th:href="@{/inicio}" class="btn btn-primary" style="margin-top: 1rem" >Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>
