<!DOCTYPE html>
<html lang="en">
    <head th:replace = "/fragments/head :: head"></head>
    <body>
        <header class="contenedor-header">
            <nav th:replace = "/fragments/navbar :: nav"></nav>
            <div th:replace = "/fragments/modelo :: div"></div>
            <form th:action="@{/proyecto/buscar}" method="post" th:object="${proyecto}" class="bodyForm">
                <div class="buscador">
                    <select id="proyecto" name="proyectoId" >

                        <option label="Elije Proyecto" value="''"></option>

                        <option th:each="proyecto : ${proyectos}"
                                th:text="${proyecto.nombre}"
                                th:value="${proyecto.id}"
                                />             
                    </select>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
            <main class="container">
                <div class="proyecto" th:if="${proyecto != null}">
                    <h1 class="card-title text-center">Detalle del Proyecto</h1>
                    <h3 class="card-text">
                        <strong>Nombre:</strong>
                        <span th:text="${proyecto.nombre}">Nombre del Proyecto</span>
                    </h3>
                    <h3 class="card-text">
                        <strong>Detalle:</strong>
                        <span th:text="${proyecto.detalleProyecto}">Detalle del Proyecto</span>
                    </h3>
                    <h3 class="card-text">
                        <strong>Fecha de Inicio:</strong>
                        <span th:text="${proyecto.fechaInicio}">Fecha de Inicio</span>
                    </h3>
                    <h3 class="card-text">
                        <strong>Fecha de Finalización:</strong>
                        <span th:text="${proyecto.fechaFinalizacion}">Fecha de Finalización</span>
                    </h3>
                </div>
                <div class="reunion">
                    <h1 class="mb-4">Reuniones para este proyecto</h1>
                    <h5 class="card-text">
                        <strong>Nombre: </strong
                        ><span th:text="${reunion.nombre}">Nombre</span>
                    </h5>
                    <h5 class="card-text">Participantes de la Reunion</h5>
                    <p class="card-text" th:text="${reunion.usuario}"></p>
                    <h5 class="card-text">Detalle de la Reunion</h5>
                    <p class="card-text" th:text="${reunion.detalle}"></p>
                    <h5 class="card-text">
                        <strong>Hora de Inicio: </strong
                        ><span th:text="${reunion.horarioDeInicio}">Fecha Inicio</span>
                    </h5>
                    <h5 class="card-text">
                        <strong>Hora de Finalización: </strong
                        ><span th:text="${reunion.horarioDeFin}">Finalización</span>
                    </h5>

                </div>
                <div class="tarea">
                    <h1 class="mb-4"> Tareas de este Proyecto</h1>
                    <h5 class="card-title"><strong>Nombre: </strong><span th:text="${tarea.nombreTarea}">Nombre</span></h5>
                    <h3 class="card-text"><strong> Descripción de la Tarea</strong></h3>
                    <p class="card-text" th:text="${tarea.descripcion}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga repudiandae aliquam soluta quas quibusdam odit itaque reprehenderit consequatur ducimus, iure dolor officia provident!</p>
                    <h3 class="card-text"><strong>Fecha de Inicio: </strong><span th:text="${tarea.fechaInicio}">Fecha
                            Inicio</span></h3>
                    <h3 class="card-text"><strong>Fecha de Finalización: </strong><span
                            th:text="${tarea.fechaFinalizacion}">Fecha Finalización</span></h3>
                    <h3 class="card-text"><strong>Estado: </strong>
                        <span th:if="${tarea.estado}"
                              th:text="'Completada'">Completada</span>
                        <span th:if="${!tarea.estado}"
                              th:text="'Pendiente'">Pendiente</span>
                    </h3>
                </div>
            </main>
        </header>
        <footer>
            <div class="container-footer">
                <p>&copy; 2023 Argentina</p>
                <div class="social">
                    <img src="../imagenes/social-icons.svg" />
                </div>
            </div>
        </footer>
    </body>
</html>
