<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"></head>

    <body>
        <header class="contenedor-header-formulario">
            <nav th:replace = "/fragments/navbar2 :: nav"></nav>

            <div class="contenedor-portada"></div>

            <main class="container mt-5 ">

                <div class='row justify-content-center'>

                    <div class="bodyForm-registrar" style="padding: 6rem">
                        <div th:replace = "/fragments/modelo :: div"></div>
                        <h2 class="text-center mb-5">Perfil Usuario</h2>

                        <form class="form-group" th:action= "@{/perfil/modificar}" th:object="${usuario}" method="POST" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <button type="button" class="btn btn-primary" onclick="toggleEdicion()">Habilitar/Desactivar Edición</button>
                            </div>
                            <input type="hidden" th:field="*{id}" name="id">
                            <input type="hidden" th:field="*{imagen}"/>
                            <input type="hidden" th:field="*{rol}" sec:authorize="!hasAnyRole('ADMIN')"/>
                            <div class="row mb-3">
                                <div class="col-md-6">

                                    <label for="nombre" class="form-label" >Nombre</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Nombre"
                                        id="nombre"
                                        name="nombre"
                                        th:field="*{nombre}"
                                        th:readonly="${true}"
                                        />
                                </div>
                                <div class="col-md-6">
                                    <label for="apellido" class="form-label"
                                           >Apellido</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Apellido"
                                        id="apellido"
                                        name="apellido"
                                        th:field="*{apellido}"
                                        th:readonly="${true}"
                                        />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1" class="form-label"
                                           > E-mail</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="exampleInputEmail1"
                                        aria-describedby="emailHelp"
                                        placeholder="E-mail"
                                        name="email"
                                        th:field="*{email}" 
                                        th:readonly="${true}"
                                        />
                                </div>

                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label"
                                           >DNI</label
                                    >
                                    <input
                                        type="number"
                                        class="form-control" 
                                        id="dni"
                                        placeholder="Número de Documento"
                                        name="dni" 
                                        th:field="*{dni}" 
                                        th:readonly="${true}"
                                        />

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="direccion" class="form-label" >Direccion</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Direccion"
                                        id="direccion"
                                        name="direccion"
                                        th:field="*{direccion}"
                                        th:readonly="${true}"
                                        />
                                </div>
                                <div class="col-md-6">
                                    <label for="empresa" class="form-label"
                                           >Empresa</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control" 
                                        id="empresa"
                                        placeholder="Empresa"
                                        name="empresa"
                                        th:field="*{empresa}"
                                        th:readonly="${true}"
                                        />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label"
                                           >Ingresa tu contraseña</label
                                    >
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Ingresa la Contraseña"
                                        name="password"
                                        th:value="${password}"

                                        />
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label"
                                           >Repita la contraseña</label
                                    >
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Repite Contraseña"
                                        name="password2"
                                        th:value="${password2}"
                                        />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label">Teléfono</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="telefono"
                                        placeholder="Teléfono"
                                        name="telefono"
                                        th:field="*{telefono}"
                                        th:readonly="${true}"
                                        />
                                </div>
                                <div class="col-md-6" sec:authorize="hasAnyRole('ADMIN')">
                                    <label for="exampleInputPassword1" class="form-label"
                                           >rol</label>
                                    <select name="rol" id="selectRol" class='form-select'>

                                        <option  >seleccionar rol  </option>

                                        <option th:each="rolAelegir : ${roles}"
                                                th:field="*{rol}"
                                                th:value="${rolAelegir}"
                                                th:selected="${usuario.rol == rolAelegir}"
                                                th:text="${rolAelegir}"
                                                > </option>
                                    </select>
                                </div>
                                <div class="row mb-3" style="margin-top: 4rem">
                                    <div class="col-md-6" >
                                        <img th:src="@{/imagen/perfil/__${id}__}" style="width:12rem" > 
                                        <input class="form-control" type="file" name="archivo" style="margin-top: 3rem" id="archivo"  /> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div sec:authorize="hasAnyRole('ADMIN')" class="check-estado" style="width: 60%">
                                        <label for="estado"> El Usuario está dado de <p th:text="${usuario.estado} ? 'Alta':'Baja'"></p></label><br>
                                        <input type="checkbox" id="estado" class="mi-check" th:field="*{estado}" />
                                        <span>Modificar Estado</span>
                                    </div>
                                </div>


                                <div class='row'>
                                    <button type="submit" class="btn btn-primary">
                                        Actualizar
                                    </button>
                                </div>
                                <div class='row'>
                                    <a th:href="@{/inicio}" class="btn btn-primary">Volver</a>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </main>


        </header>
        <footer th:replace = "/fragments/footer :: footer"></footer>

        <script onload="">

            function toggleEdicion() {
                var nombreInput = document.getElementById('nombre');
                var apellidoInput = document.getElementById('apellido');
                var emailInput = document.getElementById('exampleInputEmail1');
                var dniInput = document.getElementById('dni');
                var direccionInput = document.getElementById('direccion');
                var empresaInput = document.getElementById('empresa');
                var telefonoInput = document.getElementById('telefono');
                var selectRolInput = document.getElementById('selectRol');
                var archivoInput = document.getElementById('archivo');


                nombreInput.readOnly = !nombreInput.readOnly;
                apellidoInput.readOnly = !apellidoInput.readOnly;
                emailInput.readOnly = !emailInput.readOnly;
                dniInput.readOnly = !dniInput.readOnly;
                direccionInput.readOnly = !direccionInput.readOnly;
                empresaInput.readOnly = !empresaInput.readOnly;
                telefonoInput.readOnly = !telefonoInput.readOnly;
                archivoInput.disabled = !archivoInput.disabled;
                toggleColor();

                function toggleColor() {
                    var button = document.querySelector('.btn.custom');

                    button.classList.toggle('btn-success');
                    button.classList.toggle('btn-danger');

                }
            }
        </script>

    </body>
</html>

