<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"></head>
    <body>
        <header class="contenedor-header">
            <nav th:replace = "/fragments/navbar :: nav"></nav>
            <div class="contenedor-portada"></div>
            <div class="contenedor-form">
                <div class="bodyForm">
                    <h1>Inicia Sesión</h1>
                    <div class="form">
                        <div class="formLogin">
                            <form class="m-5" th:action= "@{/logincheck}" method="POST">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label"
                                           >Ingresa tu E-mail
                                    </label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="exampleInputEmail1"
                                        aria-describedby="emailHelp"
                                        placeholder="E-mail"
                                        name="email"
                                        th:value="email"
                                        />
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label"
                                           >Ingresa tu contraseña</label
                                    >
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="exampleInputPassword1"
                                        placeholder="Contraseña"
                                        name="password"
                                        th:value="password"
                                        />
                                </div>
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container-titulo-cards">
                <h1 class="titulo-cards" id="nosotros">Nosotros</h1>
                <h4 class="descripcion-cards">
                    Somos una agencia de publicidad que trabaja con clientes de todo
                    Latinoamérica. Nuestra empresa se caracteriza por brindar soluciones
                    Web a nuestros clientes. Contamos con un excelente staff de
                    colaboradores. Eficiencia y Perfeccionismo serían nuestras mejores
                    cualidades.
                </h4>
            </div>
            <section class="container-cards">
                <div class="card custom-card m-4" style="width: 18rem">
                    <img
                        src="/creative.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                    <div class="card-body">
                        <h5 class="card-title">Creatividad</h5>
                        <p class="card-text">
                            La creatividad es la base de todos nuestros proyectos. Nuestro
                            proyectos se caracterizan por ser únicos y personalizados.
                        </p>
                        <div class="card-footer d-flex justify-content-center">
                            <p class="btn btn-primary">Nuestros proyectos</p>
                            <!--Este listado solo debe mostrar nombre del proyecto breve descripción y alguna foto-->
                        </div>
                    </div>
                </div>
                <div class="card custom-card m-4" style="width: 18rem">
                    <img
                        src="/profesional.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                    <div class="card-body">
                        <h5 class="card-title">Profesional</h5>
                        <p class="card-text">
                            Nos caracterizamos por nuestro profesionalismo. Nuestros Agentes
                            están preseleccionados para poder brindarle a nuestros clientes la
                            mejor experiencia.
                        </p>
                        <div class="card-footer d-flex justify-content-center">
                            <p class="btn btn-primary">Conocer a nuestros Agentes</p>
                            <!--Este listado solo debe mostrar nombre foto y profesion-->
                        </div>
                    </div>
                </div>
                <div class="card custom-card m-4" style="width: 18rem">
                    <img
                        src="/equipo.jpg"
                        class="card-img-top"
                        alt="..."
                        />
                    <div class="card-body">
                        <h5 class="card-title">Equipo</h5>
                        <p class="card-text">
                            Nuestro trabajo en equipo es nuestra mayor fortaleza. Trabajamos
                            de manera conjunta para optimizar el tiempo y lograr nuestras
                            metas.
                        </p>
                        <div class="card-footer d-flex justify-content-center">
                            <p class="btn btn-primary">Nuestra Historia</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container-contacto">
                <div class="info">
                    <h4>Más de nosotros</h4>
                    <a th:href="@{/registrar}" class="btn">Registrate</a>
                </div>
                <div class="contacto" id="contacto">
                    <h5>Contactanos</h5>
                    <h5>Telefono: 11342274647</h5>
                    <h5>Email: fiveDesign@gmail.com</h5>
                </div>
            </div>
        </main>
        <footer th:replace = "/fragments/footer :: footer"></footer>
    </body>
</html>
