<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"></head>

    <body>
        <header class="contenedor-header">
            <nav th:replace = "/fragments/navbar :: nav"></nav>

            <div class="contain" sec:authorize ="isAuthenticated()" border-radius="1rem" >

                 <div class="container-saludo">
                    <h2 th:text="'Hola de vuelta '"></h2>
                    <h2 th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre}"></h2>
                    <div class="container-imagen">
                        <a><img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}"></a>
                    </div>
                </div>
                <!--agrego aviso al admin que hay usuarios sin activar-->
                <div sec:authorize = "hasAnyRole('ADMIN')" >
                    <div class="container-modelo" style="margin-left: 1rem">
                        <div th:if="${avisoUsuario != null}" class="aviso">
                            <div class="card-body">  
                                <p class="card-text" th:text="${avisoUsuario}"></p>

                            </div>
                        </div>
                        <div th:if="${avisoProyecto != null}" class="aviso">
                            <div class="card-body">  
                                <p class="card-text" th:text="${avisoProyecto}"></p>
                            </div>
                        </div>
                        <div th:if="${avisoReunion != null}" class="aviso">
                            <div class="card-body">  
                                <p class="card-text" th:text="${avisoReunion}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- CONTENEDOR PRINCIPAL-->

        <main class="main">
            <div class="contenedor-principal">
                <div class="myCard" id="proyecto" sec:authorize ="isAuthenticated()">
                    <div class="innerCard">
                        <div class="frontSide">
                            <h3 class="title">PROYECTO</h3>
                            <img class="img-cards" src="img/creative.jpg" alt="proyecto">
                        </div>
                        <div class="backSide">

                            <p>Desde aqui puedes visualizar la lista de Proyectos y crear, modificar y eliminar</p> 
                            <a class="botonLink" sec:authorize = "!hasAnyRole('ADMIN')" th:href="@{/proyecto/listaProyectos/__${session.usuariosession.id}__}">CLICK AQUÍ</a>
                            <a class="botonLink" sec:authorize = "hasAnyRole('ADMIN' ,'AGENTE')" th:href="@{/proyecto/panel}">CLICK AQUÍ</a>

                            <!--metodo get return panel_proyecto.html-->
                        </div>                   
                    </div>
                </div>
                <div class="myCard" id="calendario" sec:authorize ="isAuthenticated()">
                    <div class="innerCard">
                        <div class="frontSide">
                            <h3 class="title">REUNIONES</h3>
                            <img class="img-cards" src="img/calendario2.jpg" alt="calendarios">
                        </div>
                        <div class="backSide">                       
                            <p>Desde aqui puedes visualizar las reuniones y agregar, modificar las reuniones</p>
                            <a class="botonLink" th:href="@{/reunion/panel}">CLICK AQUÍ</a>
                        </div>                    
                    </div>
                </div>
                <div class="myCard" id="block-de-notas" sec:authorize = "hasAnyRole('ADMIN','AGENTE')">
                    <div class="innerCard">
                        <div class="frontSide">
                            <h3 class="title">GUARDAR TAREAS</h3>
                            <img class="img-cards" src="img/block.jpg" alt="block de notas">
                        </div>
                        <div class="backSide">

                            <p>Desde aqui puedes crear y guardar nuevas Tareas</p>
                            <a class="botonLink" th:href="@{/tarea/registrar}" >CLICK AQUÍ</a>
                            <!-- Metodo get return block_notas.html -->
                        </div>  
                    </div>
                </div>
                <div class="myCard" id="pendientes" sec:authorize = "hasAnyRole('ADMIN','AGENTE')">
                    <div class="innerCard">
                        <div class="frontSide">
                            <h3 class="title">TAREAS PENDIENTES</h3>
                            <img class="img-cards" src="img/pendientes.jpg" alt="pendientes">
                        </div>
                        <div class="backSide">
                            <p>Desde aqui puedes ver las tareas y su estado.Tambien modificar y eliminar</p>
                            <a class="botonLink" th:href="@{/tarea/panel}">CLICK AQUÍ</a>
                        </div>                   
                    </div>
                </div>

                <div class="myCard" id="perfil" sec:authorize ="isAuthenticated()">
                    <div class="innerCard">
                        <div class="frontSide">
                            <h3 class="title">PERFIL</h3>
                            <img class="img-cards" src="img/perfil.jpg" alt="perfil">
                        </div>
                        <div class="backSide">
                            <p>Desde aqui puedes acceder a tus datos de perfil y realizar modificaciones</p>
                            <a class="botonLink" th:href="@{/perfil/panel/__${session.usuariosession.id}__}">CLICK AQUÍ</a>
                        </div>
                    </div>
                </div>
                <div class="myCard" id="agenda" sec:authorize ="isAuthenticated()">
                    <div class="innerCard">
                        <div class="frontSide">
                            <h3 class="title">AGENDA</h3>
                            <img class="img-cards" src="img/contactos.png" alt="agenda">
                        </div>
                        <div class="backSide">   
                            <p>Aqui puedes visualizar la agenda de contactos</p>
                            <a class="botonLink" th:href="@{/lista}">CLICK AQUÍ</a>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <footer th:replace = "/fragments/footer :: footer"></footer>
    </body>
</html>
