<body>
    <header class="contenedor-header-formulario">
        <nav class="navegacion">
            <!-- Logo -->
            <a href="#" class="enlace">
                <img src="img/logo2.png" alt="" class="logo" />
            </a>
        </nav>
        <div class="contenedor-portada"></div>
        <div class="contenedor-form">
            <div class="bodyForm-registrar">
                <h1>Regístrate</h1>
                <div class="form-registrar">
                    <div class="formLogin-registrar">
                        <form class="m-5">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="nombre" class="form-label"
                                           >Ingresa tu nombre</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Nombre"
                                        id="nombre"
                                        />
                                </div>
                                <div class="col-md-6">
                                    <label for="apellido" class="form-label"
                                           >Ingresa tu apellido</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Apellido"
                                        id="apellido"
                                        />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1" class="form-label"
                                           >Ingresa tu E-mail</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="exampleInputEmail1"
                                        aria-describedby="emailHelp"
                                        placeholder="E-mail"
                                        />
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label"
                                           >Ingresa tu contraseña</label
                                    >
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="exampleInputPassword1"
                                        placeholder="Contraseña"
                                        />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label"
                                           >Ingresa tu DNI</label
                                    >
                                    <input
                                        type="number"
                                        class="form-control"
                                        placeholder="Número de Documento"
                                        />
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label"
                                           >Ingresa tu teléfono</label
                                    >
                                    <input
                                        type="number"
                                        class="form-control"
                                        placeholder="Teléfono"
                                        />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-label">Ingresa tu foto de perfil</label>
                                <input class="form-control" type="file" name="archivo" />
                            </div>
                            <div class="container-btn">
                                <button type="submit" class="btn btn-primary">
                                    Registrarse
                                </button>
                                <div class="btn-volver">
                                    <a href="@{/principal}">Volver</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer>
        <div class="container-footer">
            <p>&copy; 2023 Argentina</p>
            <div class="social">
                <img src="/frontendReformado/templates/img/social-icons.svg" />
            </div>
        </div>
    </footer>
</body>
</html>

