<!DOCTYPE html>
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="/fragments/head :: head"><title></title> </head>
    <body>
        <header class="contenedor-header-formulario">
            <nav th:replace = "/fragments/navbar2 :: nav"></nav>
            <div th:replace="/fragments/modelo :: div"></div>
            <div class="contenedor-portada"></div>

            <main class="container mt-5 ">
                <div class='row justify-content-center'>
                    <div class="col-md-6 bodyForm-registrar" style="padding: 6rem">
                        <h2 class="text-center mb-5">Modificar reunion</h2>

                        <form class="form-group" th:action="@{/reunion/modificar}" th:object="${reunion}" method="POST">
                            <!-- Campos del formulario -->
                            <input hidden="hidden" th:field="*{id}" th:value="*{id}" name="id" />
                            <label for="nombre">Nombre de la reunion</label>
                            <input type="text" id="nombreTarea" name="nombre" th:field="*{nombre}" th:value="*{nombre}"
                                   placeholder="Nombre" class="form-control mb-3" />
                            <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <label for="detalle">Descripcion de la reunion</label>
                            <textarea id="detalle" name="detalle" th:field="*{detalle}" th:value="*{detalle}" rows="4"
                                      placeholder="Descripcion" class="form-control mb-3"></textarea>
                            <p th:if="${#fields.hasErrors('detalle')}" th:errors="*{detalle}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <!-- Campos de fecha de inicio y finalización -->
                            <label for="horarioDeInicio">Hora de inicio</label>
                            <input type="datetime-local" id="horarioDeInicio" name="horarioDeInicio" th:field="*{horarioDeInicio}"
                                   th:value="*{horarioDeInicio}" class="form-control mb-3" />
                            <p th:if="${#fields.hasErrors('horarioDeInicio')}" th:errors="*{horarioDeInicio}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <label for="horarioDeFin">Horario de Finalización</label>
                            <input type="datetime-local" id="horarioDeFin" name="horarioDeFin"
                                   th:field="*{horarioDeFin}" th:value="*{horarioDeInicio}" class="form-control mb-3" />
                            <p th:if="${#fields.hasErrors('horarioDeFin')}" th:errors="*{horarioDeFin}"
                               class="error-message" style="color: red; font-size: 0.9em;"> </p>

                            <!-- Agrego select para usuarios -->
                            <label for="usuarios">Seleccionar Usuarios</label>
                            <select id="usuarios" name="usuarioId" class="form-select mb-3">
                                <!-- Itera sobre la lista de usuarios -->
                                <option label="Elije Usuario" value=""></option>
                                <option th:each="elegido : ${usuarios}" th:value="${elegido.id}" th:field="*{usuario}" th:text="${elegido.nombre + ' ' + elegido.apellido + '(' + elegido.rol + ')'}"></option>
                            </select>
                            <p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>
                            <!-- Campo oculto para el estado -->

                            <!-- Agrega select para proyectos asociados al usuario seleccionado -->
                            <label for="proyectos">Seleccionar Proyecto</label>
                            <select id="proyectos" name="proyectoId" class="form-select mb-3" onchange="mostrarParticipantes(this)">
                                <!-- Itera sobre la lista de proyectos asociados al usuario seleccionado -->
                                <option label="Elije Proyecto" value=""></option>
                                <option th:each="proyecto : ${proyectos}" th:selected="${proyecto==reunion.proyecto}" th:value="${proyecto.id}" th:text="${proyecto.nombre}"></option>
                            </select>
                            <label for="progreso">Seleccionar Progreso</label>

                            <!-- Selección del progreso -->
                            <select id="progreso" name="progreso" class="form-select mb-3" >
                                <option label="Elija progreso" value=""></option>
                                <option th:each="actual : ${progreso}" th:selected="${reunion.progreso == actual}" th:text="${actual}"></option>
                            </select>

                            <!-- Agrega el div con la lista de usuarios, utiliza Thymeleaf para establecer el estilo -->
                            <div th:each="proyecto : ${proyectos}" th:id="'participantesList_' + ${proyecto.id}" class="participantesList" style="display:none;">
                                <!-- Itera sobre la lista de usuarios dentro de cada proyecto -->
                                <p style="border-bottom: 2px dotted #081b29; font-size: 1.5rem">Participantes del Proyecto</p>
                                <ul>
                                    <li th:each="usuario : ${proyecto.usuarios}" th:text="| ${usuario.nombre} ${usuario.apellido} (${usuario.rol}) |" style="list-style: none"></li>
                                </ul>
                            </div>
                            <input hidden="hidden" type="checkbox" name="estado" th:checked="true"/>
                            <label for="estadoReunion"> Aceptada </label>
                            <div class='row'>
                                <button type="submit" class="btn btn-primary">Modificar reunion</button>
                            </div>
                            <div class='row' sec:authorize="hasAnyRole('ADMIN')" >
                                <a href="/reunion/panel" class="btn btn-secondary" style="margin: 1rem">Volver</a>
                            </div>
                            <div class='row' sec:authorize="hasAnyRole('CLIENTE', 'AGENTE')">
                                <a th:href="@{/reunion/listaReuniones/__${session.usuariosession.id}__}" class="btn btn-secondary" style="margin: 1rem">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </header>
        <footer th:replace="/fragments/footer :: footer"></footer>

        <!-- Agrego la lógica de JavaScript -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            function mostrarParticipantes(select) {
                console.log('mostrarParticipantes se ejecutó');

                // Obtengo la información del proyecto seleccionado
                var proyectoId = select.value;

                // Oculto todos los participantes inicialmente
                var participantesLists = document.querySelectorAll('.participantesList');
                participantesLists.forEach(function (participantesList) {
                    participantesList.style.display = 'none';
                });

                // Muestro solo la lista de participantes del proyecto seleccionado
                var selectedParticipantesList = document.getElementById('participantesList_' + proyectoId);
                if (selectedParticipantesList) {
                    selectedParticipantesList.style.display = 'block';
                }
            }
            /*]]>*/

        </script>

        <!-- Agrego el evento onchange al select -->
        <script>
            document.getElementById('proyectos').addEventListener('change', function () {
                mostrarParticipantes(this);
            });
        </script>
    </body>
</html>
