<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head">
    <body>
        <header class="contenedor-header-formulario">
            <nav class="navegacion" xmlns:th="http://www.thymeleaf.org">
                <!-- Logo -->
                <a href="#" class="enlace">
                    <img src="/img/logo2.png" alt="" class="logo"/>
                </a>
            </nav>
            <div th:replace="/fragments/modelo :: div"></div>
            <div class="contenedor-portada"></div>

            <main class="container mt-5 ">
                <div class='row justify-content-center'>
                    <div class="col-md-6 bodyForm-registrar" style="padding: 6rem">
                        <h2 class="text-center mb-5">Modificar reunion</h2>

                        <form class="form-group" th:action="@{/reunion/modificar}" th:object="${reunion}" method="POST">
                            <!-- Campos del formulario -->
                            <input hidden th:value="${id}" name="id">
                            <label for="nombre">Nombre de la reunion</label>
                            <input type="text" id="nombreTarea" name="nombre" th:field="*{nombre}"
                                   placeholder="Nombre" class="form-control mb-3" />
                            <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <label for="detalle">Descripcion de la reunion</label>
                            <textarea id="detalle" name="detalle" th:field="*{detalle}" rows="4"
                                      placeholder="Descripcion" class="form-control mb-3"></textarea>
                            <p th:if="${#fields.hasErrors('detalle')}" th:errors="*{detalle}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <!-- Campos de fecha de inicio y finalización -->
                            <label for="horarioDeInicio">Hora de inicio</label>
                            <input type="datetime-local" id="horarioDeInicio" name="horarioDeInicio" th:field="*{horarioDeInicio}"
                                   class="form-control mb-3" />
                            <p th:if="${#fields.hasErrors('horarioDeInicio')}" th:errors="*{horarioDeInicio}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>

                            <label for="horarioDeFin">Horario de Finalización</label>
                            <input type="datetime-local" id="horarioDeFin" name="horarioDeFin"
                                   th:field="*{horarioDeFin}" class="form-control mb-3" />
                            <p th:if="${#fields.hasErrors('horarioDeFin')}" th:errors="*{horarioDeFin}"
                               class="error-message" style="color: red; font-size: 0.9em;"> </p>

                            <!-- Agrego select para usuarios -->
                            <label for="usuarios">Seleccionar Usuarios</label>
                            <select id="usuarios" name="usuarioId" class="form-select mb-3">
                                <!-- Itera sobre la lista de usuarios -->
                                <option th:each="elegido : ${usuarios}" th:value="${elegido.id}" th:field="*{usuario}" th:text="${elegido.nombre}"></option>
                            </select>
                            <p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}" class="error-message"
                               style="color: red; font-size: 0.9em;"></p>
                            <!-- Campo oculto para el estado -->
                            <input hidden="hidden" type="checkbox" id='estado' name="estado" th:checked="true" />

                            <select id="proyecto" name="proyectoId" class="form-select mb-3" >

                                <option label="Elije Proyecto" value="''"></option>

                                <option th:each="asociado : ${proyectos}"
                                        th:text="${asociado.nombre}"
                                        th:value="${asociado.id}"
                                        th:field="*{proyecto}"
                                        />
                            </select>

                            <p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"
                               class="error-message" style="color: red; font-size: 0.9em;"></p>
                            <div class='row'>
                                <button type="submit" class="btn btn-primary">Modificar reunion</button>
                            </div>
                            <div class='row'>
                                <a th:href="@{/reunion/panel}" class="btn btn-secondary">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </header>
        <footer th:replace="/fragments/footer :: footer"></footer>
    </body>
</html>
